name: Update Structures from AWS SDK for PHP

on:
  workflow_dispatch:
  schedule:
    - cron: '30 20 * * *'

jobs:

  check-update:

    runs-on: ubuntu-latest

    outputs:
      need_update: ${{ steps.check-aws-sdk.outputs.need_update }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 120
          max_attempts: 3
          command: composer install --quiet --no-plugins --no-ansi --prefer-dist --no-progress --no-interaction

      - name: Check the update status of AWS SDK for PHP
        id: check-aws-sdk
        run: |
          if composer outdated aws/aws-sdk-php --quiet --strict; then
            echo "need_update=0" >> "$GITHUB_OUTPUT"
          else
            echo "need_update=1" >> "$GITHUB_OUTPUT"
          fi


  update:

    needs: check-update

    runs-on: ubuntu-latest

    if: needs.check-update.outputs.need_update == '1'

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Bump AWS SDK for PHP
        id: bump-aws-sdk
        run: |
          version=$(composer outdated aws/aws-sdk-php --format=json | jq -r .latest)
          echo "version=$version" >> "$GITHUB_OUTPUT"
          composer require aws/aws-sdk-php:$version --quiet --no-plugins --no-ansi --prefer-dist --no-progress --no-interaction

      - name: Update Structures
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 900
          max_attempts: 3
          command: |
            rm -rf structures/*
            php bin/app.php app:generate --no-progress

      - name: Analyze Structures
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 900
          max_attempts: 3
          command: php vendor/bin/phpstan analyse --no-progress --memory-limit=-1 -c phpstan-generated.neon.dist

      - name: Commit Files
        run: |
          version=${{ steps.bump-aws-sdk.outputs.version }}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git commit -a -m "Update Structures from AWS SDK for PHP $version" -m "<https://github.com/aws/aws-sdk-php/releases/tag/$version>"
          git push
          git tag $version
          git push origin $version
